<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/simple-sidebar.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>MY APP</title>
</head>
<body>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        PDUC admin
                    </a>
                </li>
                <li>
                    <a href="/">Liste des produits</a>
                </li>
                <li  style="background-color: #6f6c67;">
                    <a href="/getCategorieSite">Liste des catégories</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <table class="table categories">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Categories</th>
                        <th>Image</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<categories.length; i++) {%>
                      <tr>
                        <td><%= categories[i]._id %></td>
                        <td><%= categories[i].categorie %></td>
                        <td><%= categories[i].image %></td>
                        <td>
                          <form action="/ModifyCategorieSetSite" method="POST">
                            <input type="hidden" name="id" value="<%= categories[i]._id %>">
                            <button type="submit" class="btn btn-warning">Modifier</button>
                          </form>
                          <form action="/deleteCategorieSite" method="POST">
                            <input type="hidden" name="id" value="<%= categories[i]._id %>">
                            <button type="submit" class="btn btn-danger">Delete</button>  
                          </form>
                        </td>
                      </tr>
                    <% } %>
                    </tbody>
                  </table>
                  <form class="form-inline" action="/addCategorieSite" method="POST">
                    <input type="text" placeholder="Category" name="categorie">
                    <input type="text" placeholder="image" name="image">
                    <button type="submit">Add</button>
                  </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
</html>