<% include header.ejs %>
<script>
    tinymce.init({
        selector: '#description',
        height: 250,
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
<!-- Page Produit -->
<div id="wrapper">


    <!-- /#sidebar-wrapper -->
    <% include side_bar.ejs %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="/addProductSite" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" placeholder="Nom" class="form-control" name="nom">
                            </div>
                            <div class="form-group">
                                <label>Prix</label>
                                <input type="text" placeholder="Prix" class="form-control" name="prix">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="description" type="text" placeholder="Description" class="form-control" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Sous-categorie</label>
                                <select class="form-control" name="sousCategorie">
                                    <% for(var i=0; i<sousCategories.length; i++) {%>
                                    <option value="<%= sousCategories[i]._id %>"><%= sousCategories[i].sousCategorie %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Images :</label>
                                <input type="file" name="image" onchange="previewFile()">
                                <p class="help-block">Inserez une image.</p>
                            </div>
                            <img src="" height="200" alt="Image preview...">
                            <button class="btn btn-default" type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <table class="table products">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Description</th>
                            <th>Sous Categorie</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<products.length; i++) {%>
                        <tr>
                            <td><%= products[i]._id %></td>
                            <td><%= products[i].nom %></td>
                            <td><%= products[i].prix %></td>
                            <td>
                                <button id="btnDescriptionProduit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#descriptionModal">
                                    Voir la description
                                    <span id="descriptionSpan" hidden>
                                        <%= products[i].description %>
                                    </span>
                                </button>
                            </td>
                            <td>
                                <% for(var j=0; j<sousCategories.length; j++) {
                                    if (products[i].sousCategorie == sousCategories[j]._id) { %>
                                <%= sousCategories[j].sousCategorie %>
                                <% }
                                } %>
                            </td>
                            <td>
                                <% if (typeof products[i].image == 'object') {
                                    for(var j=0; j<products[i].image.length; j++) { %>
                                <img class="img-rounded" src="/images/<%= products[i].image[j].filename %>" alt="<%= products[i].image[j].filename %>"style="width:128px;height:128px;">
                                <% }
                                } else { %>
                                <img class="img-rounded" src="/images/<%= products[i].image %>" alt="<%= products[i].image %>"style="width:128px;height:128px;">
                                <%
                                } %>
                            </td>
                            <td>
                                <form action="/modifySetProductSite" method="POST">
                                    <input type="hidden" name="id" value="<%= products[i]._id %>">
                                    <button type="submit" class="btn btn-warning">Modifier</button>
                                </form>
                                <form action="/deleteProductSite" method="POST">
                                    <input type="hidden" name="id" value="<%= products[i]._id %>">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="content"></p>
        </div>
    </div>
</div>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    function previewFile(){
        var preview = document.querySelector('img'); //selects the query named img
        var file    = document.querySelector('input[type=file]').files[0]; //sames as here
        var reader  = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    $('#descriptionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var modal = $(this)
        modal.find('.content').html(button.find( "#descriptionSpan" ).text())
    });

    previewFile();
</script>

</body>

</html>
