<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <link rel="stylesheet" href="/css/simple-sidebar.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>MY APP</title>
</head>
<body>

<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        PDUC admin
                    </a>
                </li>
                <li  style="background-color: #6f6c67;">
                    <a href="/">Liste des produits</a>
                </li>
                <li>
                    <a href="/getCategorieSite">Liste des catégories</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">     
                  <h1>Nom du produit : <%= product[0].nom %></h1>
                  <form class="form-inline" action="/modifyProductSite" method="POST">
                    <input type="hidden" value="<%= product[0]._id %>" name="id">
                    <input type="text" value="<%= product[0].nom %>" placeholder="nom" name="nom">
                    <input type="text" value="<%= product[0].prix %>" placeholder="prix" name="prix">
                    <input type="text" value="<%= product[0].description %>" placeholder="description" name="description">
                   <select  name="categorie">
                        <% for(var i=0; i<categories.length; i++) {%>
                            <option <% if (categories[i]._id == product[0].categorie) { %> selected <% } %>
                                    value="<%= categories[i]._id %>"><%= categories[i].categorie %></option>
                        <% } %>
                    </select>
                    <input type="text" value="<%= product[0].image %>" placeholder="image" name="image">
                    <button type="submit">Modifier</button>
                  </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</body>
</html>