<% include header.ejs %>

<div id="wrapper">
        <!-- Sidebar -->
      <% include side_bar.ejs %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">     
                  <h1>Nom du produit : <%= product[0].nom %></h1>
                  <form class="form-inline" action="/modifyProductSite" method="POST" enctype="multipart/form-data">
                    <input type="hidden" value="<%= product[0]._id %>" name="id">
                    <input type="text" value="<%= product[0].nom %>" placeholder="nom" name="nom">
                    <input type="text" value="<%= product[0].prix %>" placeholder="prix" name="prix">
                    <input type="text" value="<%= product[0].description %>" placeholder="description" name="description">
                   <select  name="categorie">
                        <% for(var i=0; i<categories.length; i++) {%>
                            <option <% if (categories[i]._id == product[0].categorie) { %> selected <% } %>
                                    value="<%= categories[i]._id %>"><%= categories[i].categorie %></option>
                        <% } %>
                    </select>
                    <input type="file" name="image">
                    <button type="submit">Modifier</button>
                  </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


</body>
</html>
